<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Nhập hàng</h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
              <li class="breadcrumb-item"><a href="Product.html">Danh sách nhập hàng</a></li>
              <li class="breadcrumb-item active">Nhập hàng</li>
            </ol>
          </nav>
        </div>
        <div class="main-content container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-border-color card-border-color-primary">
                    <div class="card-header card-header-divider">Nhập hàng</div>
                    <div class="card-body">
                        <form action="/admin/stockin/addstockin?_csrf={{ csrfToken }}" method="POST" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="stock_in-file">Danh sách sản phẩm</label>
                                <div class="col-12 col-sm-6">
                                    <input class="inputfile" id="stock_in-file" type="file" name="stock_in-file" data-multiple-caption="{count} files selected" multiple="">
                                    <label class="btn-secondary" name="stock_in-file" for="stock_in-file"> <i class="mdi mdi-upload"></i><span>Thêm file</span></label>
                                </div>
                            </div>
                            <div class="form-group row text-right">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button class="btn btn-space btn-primary" type="submit">Nhập hàng</button>
                                <a href="/admin/stockin" class="btn btn-space btn-secondary">Huỷ bỏ</a>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <nav class="be-right-sidebar">
    </div>
    </nav>
    </div>
    <script src="/admin\assets\lib\jquery\jquery.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/admin\assets\js\app.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net\js\jquery.dataTables.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-bs4\js\dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\buttons.flash.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\jszip\jszip.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\pdfmake\pdfmake.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\pdfmake\vfs_fonts.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\buttons.colVis.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\buttons.print.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\buttons.html5.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-responsive\js\dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script src="admin\assets\lib\jquery.nestable\jquery.nestable.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\moment.js\min\moment.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\select2\js\select2.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\select2\js\select2.full.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js" type="text/javascript"></script>
            <script type="text/javascript">
              $(document).ready(function(){
                //-initialize the javascript
                App.init();
                App.formElements();
              });
            </script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
      	App.dataTables();
      });
    </script>